.profileimg{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
  
.slidecontainer  {
    position: relative;
    cursor:alias;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 24px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .contbadge{
    border: 1px solid gray;
    width: 190px;
    height: 41px;
    border-radius: 18px;
  }
  .seats{
    justify-content: space-between;
  }
  .favandinvibtn{
    justify-content: space-between;
  }
  .stars{
    width: 40%;
  }
  .filterbox{
    border: 1px solid gray;
  }
  .filtertext{
    font-size: 13px;
  }
  .information{
    border: 1px solid gray;
  }
  .voluntimg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .recent-volunteer{
    border: 1px solid gray;
    padding: 10px 0px;
  }
  .volun-pagination{
    margin-left: 15%;
    width: auto;
  }
  .inputimagebox{
    width: 100%;
    border: 1px dotted gray;
  }
  .canclebtn{
    border: 1px solid gray;
  }
  .submitbtn{
    border: 1px solid gray;
  }
  .image-preview img{
    width: 120px;
    height: 120px;
    margin-left: 10px;
  }
  .image-container {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .remove-button {
    display: block;
    position: absolute;
    top: 0;
    left: 109px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
  .sidestoryimage{
    width: 101px;
    height: 101px;
    border-radius: 50%;
  }
  .sidestory{
    justify-content: space-between;
  }
  .eyeimg{
    width: 20px;
    height: 20px;
  }
  .views{
    border: 1px solid gray;
    border-radius: 20px;
    width: 172px;
    height: 38px;
  }
  .hours_header{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
  }
  .userimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .skilldiv{
    width: 100%;
    height: 15%;
    border: 1px solid rgb(173, 170, 170);
    overflow-y: auto;
    border-radius: 5px;
  }

  @media (max-width:991px){
    .stars{
      width: 377px;
    }
    .contbadge{
      width: 260px;
    }
    .tabdocuments{
      text-align: center;
    }
  }