*{
 margin: 0;
 padding: 0;   
}
.profileimg{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.headerbar{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.navbox{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.hambarger{
    visibility: hidden;
}
.mid{
    display: flex;
}
.bell{
    visibility: hidden;
}
.filter{
    width: 25px;
    height: 25px;
    display: none;
}
.searchico{
    width: 20px;
    height: 20px;
}
.country,.city,.theme,.skills{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 50px;
}
.downs{
    top: 20%;
}
.secondnav{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.downbox{
    font-size: 1.3rem;
}
.profitext{
    display: block;
}
.star{
    height: 10%;
}
.seats, .hours{
    height: 20px;
}
.batch{
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 10px;
    display:inline-block;
    margin-top:30px ;
}
.cardview{
    margin-top: 5%;
    box-shadow: 0px 0px 8px 0px gray;
}
.datebadge1{
    font-size:12px;
    left: 40px;
    z-index: 1;
    border: 1px solid gray;
    border-radius: 30px;
    height: 25px;
    width: 75%;
    position: absolute;
}
.imgbadge1{
    width: 40%;
    position: absolute;
    left: 90px;
    top:170px;
    border-radius: 30px;
    height: 25px;
}
.clear-button{
    border: none;
    background-color: white;
}
.filtersection{
    list-style-type: none;
    margin-left: 10px;
}
.filtersection li{
    border: 1px solid black;
    width: auto;
    margin-top: 5px;
    margin-left:10px;
    padding:8px 20px;
    border-radius: 18px;
}
@media (max-width:991px) {
    .profitext{
        display: none;
    }
    .profitext2{
        visibility: hidden;
    }
    .hambarger{
        visibility: visible;
    }
    .left{
        display: none;
    }
    .bell{
        visibility: visible;
    }
    .city,.country,.skills,.theme{
        display: none;
    }
    .filter{
        display: block;
        float: right;
    }
    .secondnav{
        height: 55px;
    }
    .newmission{
        display: none;
    }
}
