.login{
    border-radius: 24px;
}
.log{
    margin-left: 30%;
    margin-top: 5%;
}
.terms{
    margin-left: 29%;
    margin-top: 34%;
}
.resetform{
    margin-top: 50%;
}
.leftimg{
    height: 740px;
}
.fortitle{
    margin-left: 19%;
}
@media (max-width:991px) {
    .resetform{
        margin-top: 10%;
    }
    .log{
        margin-left: 30%;
    }
    .terms{
        margin-left: 25%;
    }
    .fortitle{
        margin-left: 10%;
    }
}