*{
 margin: 0;
 padding: 0;   
}
.profileimg{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.headerbar{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.navbox{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.hambarger{
    visibility: hidden;
}
.mid{
    display: flex;
}
.bell{
    visibility: hidden;
}
.filter{
    width: 25px;
    height: 25px;
    display: none;
}
.searchico{
    width: 20px;
    height: 20px;
}
.country,.city,.theme,.skills{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 50px;
}
.downs{
    top: 20%;
}
.secondnav{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.offcanvahamberger {
    display: none;
}
.downbox {
    font-size: 1.3rem;
}
@media (max-width:991px) {
    .profitext{
        display: none;
    }
    .profitext2{
        visibility: hidden;
    }
    .hambarger{
        visibility: visible;
    }
    .left{
        display: none;
    }
    .bell{
        visibility: visible;
    }
    .city,.country,.skills,.theme{
        display: none;
    }
    .filter{
        display: block;
        float: right;
    }
    .offcanvahamberger {
        display: block;
    }
}