:root {
    --main-bg-color: #FFFFFF;
    --main-text-color: #212529;
    --second-text-color: #FFFFFF;
    --second-bg-color: #FFFFFF;
  }
  
  .primary-text {
    color:black;
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #FFFFFF,
      #FFFFFF,
      #FFFFFF,
      #FFFFFF,
      #FFFFFF
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: white;
    border: 1px solid gray;
    color: var(--main-text-color);
    font-weight: bold;
    
  }
  .adminimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .dataTables_filter {
    float: left !important;
 }
 #userrecord_filter{
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 20px 0px;
 }
#userrecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
 #cmsrecord_filter{
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 20px 0px;
 }
#cmsrecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
 #missionrecord_filter{
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 20px 0px;
 }
#missionrecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
 #storyrecord_filter{
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 20px 0px;
 }
#storyrecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
 #applicationrecord_filter{
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 20px 0px;
 }
#applicationrecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
#themerecord_filter {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 20px 0px;
}
#themerecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
#skillrecord_filter {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 20px 0px;
}
#skillrecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
#bannerrecord_filter {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 20px 0px;
}
#bannerrecord_wrapper a.paginate_button.current {
    background-color: #F88634;
}
 .usermodalbody{
  height: 400px;
  overflow-y: auto;
 }
 .adminnavbar{
  box-shadow: 0px 0px 5px 0px;
 }
 .profileimgcard{
     width:100px;
     height:100px;
     border-radius:50%;
     display:none;
 }
#profilecard{
    display:flex;
    justify-content:center;
}
.image-preview img {
    width: 120px;
    height: 120px;
    margin-left: 10px;
}

.image-container {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.remove-button {
    display: block;
    position: absolute;
    top: 0;
    left: 109px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius:50%;
}
.doc-container {
    display:flex;
    border: 1px solid #F88634;
    border-radius:20px;
}
.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}
.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }