.profileimg{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
  
.slidecontainer  {
    position: relative;
    cursor:alias;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 24px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .contbadge{
    border: 1px solid gray;
    width: 403px;
    height: 41px;
    border-radius: 18px;
  }
  .seats{
    justify-content: space-between;
    height:50px;
  }
  .favandinvibtn{
    justify-content: space-between;
  }
  .stars{
    width: 40%;
  }
  .filterbox{
    border: 1px solid gray;
  }
  .filtertext{
    font-size: 13px;
  }
  .information{
    border: 1px solid gray;
  }
  .recent-volunteer{
    border: 1px solid gray;
    padding: 10px 0px;
  }
  .volun-pagination{
    margin-left: 15%;
    width: auto;
  }
.inputimagebox {
    width: 100%;
    border: 2px dashed gray;
}

.canclebtn {
    border: 1px solid gray;
}

.submitbtn {
    border: 1px solid gray;
}

.image-preview img {
    width: 120px;
    height: 120px;
    margin-left: 10px;
}

.image-container {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.remove-button {
    display: block;
    position: absolute;
    top: 0;
    left: 109px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.sidestoryimage {
    width: 101px;
    height: 101px;
    border-radius: 50%;
}

.sidestory {
    justify-content: space-between;
}

.eyeimg {
    width: 20px;
    height: 20px;
}

.views {
    border: 1px solid gray;
    border-radius: 20px;
    width: 172px;
    height: 38px;
}
#comment-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
    background-color: #fafafa;
}
.comment {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color:white;
}
.comment p {
			margin: 0;
			font-size: 16px;
		}
.modaltext {
    height: 200px;
    overflow-y: auto;
    text-align:left;
}
.volunimg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.imgbadge1 {
    width: 50%;
    position: absolute;
    left: 90px;
    top: 230px;
    border-radius: 30px;
    height: 25px;
}
.recbtn {
    top: 140px;
    right: 10px;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    background-color: black;
    opacity: 0.8;
}
.favbtn {
    top: 100px;
    right: 10px;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    background-color: black;
    opacity: 0.8;
}
.location {
    background-color: #000000;
    opacity: 0.5;
    width: 115px;
    height: 32px;
    border-radius: 30px;
    right: 10px;
    top: 10px;
}
.pins {
    width: 18px;
    height: 20px;
}
.datebadge1 {
    font-size: 15px;
    left: 40px;
    z-index: 1;
    border: 1px solid gray;
    border-radius: 30px;
    height: 25px;
    width: 75%;
    position: absolute;
}
.closed-btn {
    border-top-right-radius: 18px;
    left: 0;
    opacity: 0.6;
    color: white;
    border-color: transparent;
    border-bottom-right-radius: 18px;
    background-color: green;
    padding: 0 6px;
    width: 7.5rem;
    height: 2rem;
    margin-top: 0.7rem !important;
}
.star {
    height: 10%;
}
.seats, .hours {
    height: 20px;
}
.hours_header {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}
@media (max-width:991px) {
    .stars{
      width: 377px;
    }
    .contbadge{
      width: 260px;
    }
    .tabdocuments{
      text-align: center;
    }
    .contbadge {
        border: 1px solid gray;
        width: 500px;
        height: 41px;
        border-radius: 18px;
    }
    .contbadgetext {
        font-size:13px;
    }
  }