.login{
    border-radius: 24px;
}
.lost{
    margin-left: 20%;
}
.terms{
    margin-left: 25%;
}
.loginform{
    margin-top: 10%;
}
.leftimg{
    height: 790px;
}
.group{
    /*margin-top: 1%;*/
}
.indilines{
    height: 10px!important;
    width: 10px !important;
    border-radius: 50%;
}
@media (max-width:991px) {
    .loginform{
        margin-top: 10%;
    }
    .lost{
        margin-left: 17%;
    }
    .terms{
        margin-left: 20%;
    }
    .group{
        margin-top: 5%;
    }
    .check{
        margin-right: 20%;
    }
}
@media (min-width:503px) {
    .lost {
        margin-left: 21%;
    }
}
