
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var mymodel = ViewBag.relatedmission;
    var mytheme = ViewBag.RelatedTheme;
}
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Related Missions</h4>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
          @foreach(var item in mymodel){
        <div class="col-lg-4 col-md-6 col-sm-12 allviews p-0">
                <div class="card cardview mx-auto position-relative" style="width: 90%;height:100%">
            <img src="../CI-Imgs/Nourish-the-Children-in--African-country-1.png" alt="" class="card-image">
            <div class="imgbadge1 bg-white position-absolute text-center">
              <p>@ViewBag.MissionTheme.Title</p>
            </div>
            <div class="card-body">
              <h5>@item.Title</h5>
              <p>@item.ShortDescription</p>
              <div class="desc1 d-flex">
                <div>
                  <p>Tree Canada</p>
                </div>
                <div class="star d-flex ms-auto">
                  <img src="../CI-Imgs/selected-star.png" alt="">
                  <img src="../CI-Imgs/selected-star.png" alt="">
                  <img src="../CI-Imgs/selected-star.png" alt="">
                  <img src="../CI-Imgs/star.png" alt="">
                </div>
              </div>
              <div class="bg-white datebadge1">
                <p class="ms-2">Ongoing Oppertunity</p>
              </div>
              <hr>
              <div class="desc2 d-flex">
                <div class="seats d-flex">
                  <img src="../CI-Imgs/Seats-left.png" alt="">
                  <p>10 seats left</p>
                </div>
                <div class="hours d-flex ms-auto">
                  <img src="../CI-Imgs/hours.png" alt="">
                  <p>09/01/2019<br>Deadline</p>
                </div>
                </div>
                <hr style="margin-top: 30px;">
                <div class="apply d-flex">
                            <a href="/Home/Volunteering_Mission?MissionId=@item.MissionId" class="btn btn-outline-warning mx-auto">Apply<img src="../CI-Imgs/right-arrow.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
            }
      </div>
    </div>
